# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [

  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Platinum Parsing'
      'submenu': [
        {
          'label': 'New project'
          'command': 'platinum-parsing-atom:new-project'
        },
        {
          'label': 'Build project'
          'command': 'platinum-parsing-atom:build-project'
        },
        {
          'label': 'Parse file'
          'command': 'platinum-parsing-atom:parse-file'
        },
        {
          'label': 'Toggle AST Viewer'
          'command': 'platinum-parsing-atom:toggle-ast-viewer'
        }
      ]
    ]
  }
]
